body{
    height:100%;
background-color:#e8e1e8;
}
html{
in-height:100%;
    position:relative
}
em{color: red;}

p
{
color:white;
text-align:center;
font-size:18px;
}

b
{
color: white;
}

a
{
text-decoration:none;
color: black;
}

a:hover{
	color: cea6fe;
}
h1 { font-family: Verdana, Geneva, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; color:#ffffff; text-shadow: 1px 2px 2px #000000;text-align: center;}
h2 { font-family: Verdana, Geneva, sans-serif; font-size: 18px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color:#ffffff; text-shadow: 1px 2px 2px #ffffff;text-align: center;}
h3 { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; color:#ffffff; text-shadow: 1px 2px 2px #000000;text-align: center;}
p { font-family: Verdana, Geneva, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;text-align: center;}
blockquote { font-family: Verdana, Geneva, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px;text-align: center;}
pre { font-family: Verdana, Geneva, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px;text-align: center;}
#repcontent
{
height:100%;

}
#repcontent div
{
font-size:16px;
display: inline-table;

}

#content p
{
color:black;
margin-right:10px;
}

#maincontainer{
width: 80%;
min-height:200px;
padding-bottom:20px;
display:block;
background-color:#e8e1e8;
margin: 0 auto;
  position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;

}

#headercontain
{
width:50%;
margin: 0 auto;
}

#header
{
}
#headerright
{
width:200px;
height:150px;
float:right;
}
#border
{
background-image: url(../images/border.png);
float:left;
width:68px;
min-height:inherit;
background-repeat:repeat-y;
}
#border2
{
background-image: url(../images/border2.png);
float:right;
width:68px;
height:100%;
background-repeat:repeat-y;
margin-right: 143.5px;
}

#content
{
	min-height:800px;
	position: relative;
	padding:0px 15px 15px 15px;
	margin:0 auto;
}

#music
{
	display: inline-block;
	margin-right:10px;
	text-align: center;
}
  
#musicContainer
{
	margin:0 auto;
	width:70%;
}

#content_picture
{
float:right;
margin-right:5px;
margin-top:30px;
margin-left:10px;
}


#content_picture_in_page
{
margin:0 auto;
}

#links
{
width:175px;
height:100%;
float:left;
background-color:332b2d;
}
#links ul.nav_main{
	list-style: none;
	margin: 0px;
	padding: 0px;
	font-size: 0;
}
#link_menu
{
width:800px;
height:100px;
background-color:black;
margin: 0 auto;
vertical-align:middle;

}

#link_menu ul
{
list-style-type:none;
margin:0;
padding:0;
}
#link_menu li
{
margin-top:25px;
float:left;
width:150px;
height:40px;
}

#link_button
{
width:200px;
height:50px;
background-color:black;
float:left;
}

#nav_button
{
	display: inline-block;
    margin: 0 auto;
    padding-right: 10px;
    padding-left: 10px;
	border-radius:25px;
}
#nav_button:hover
{
background-color:#e0dcd1;
}

#nav {
	margin:0 auto;
	padding-right:20px;
	padding-left:20px;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:2px solid #c7bac7;
	text-align:center;
}

@media only screen and (max-width: 600px) {
  #nav {
	width:90%;
	height:auto;
  }
  #nav ul.nav_left
  {
  }
  h2
  {
	font-family: Verdana, Geneva, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 5.4px;
    color: #ffffff;
    text-shadow: 1px 2px 2px #ffffff;
    text-align: center;	  
	padding-top:5px;
  }
  #maincontainer
  {
	  width:95%;
	  margin: 0 auto;
	  height: 100%;
  }
  #headercontain
  {
	  width:85%;
	  margin: 0 auto;
	  height: auto;
  }
  #content
  {
	  display: inline-block;
	  margin:0 auto;
	  width:auto;  
  }
  #content_picture
  {
	  display:none;
  }
  #content_picture_in_page
  {
	  display:none;
  }
  #musicContainer
  {
	  width: auto;
  }
}

#nav ul.nav_left{
	padding: 0px;
	list-style-type: none;
}
#nav_left b{
	color: #FFFFFF;
}

#nav li{
	margin-top:25px;
	margin-left:10px;
}



#nav li a.home{
	background: url(../images/nav_sprite.gif) -135px 0px;
	width:135px;
	height:30px;
	float: left;
}

#nav li:hover a.home{
	background: url(../images/nav_sprite.gif) 0px 0px;
	width:135px;
	height:30px;
	float: left;
}

#nav li a.wedding{
	background: url(../images/nav_sprite.gif) -135px -40px;
	width:135px;
	height:50px;
	float: left;
}

#nav li:hover a.wedding{
	background: url(../images/nav_sprite.gif) 0px -40px;
	width:135px;
	height:50px;
	float: left;
}

#nav li a.teaching{
	background: url(../images/nav_sprite.gif) -135px -94px;
	width:135px;
	height:30px;
	float: left;
}

#nav li:hover a.teaching{
	background: url(../images/nav_sprite.gif) 0px -94px;
	width:135px;
	height:30px;
	float: left;
}

#nav li a.orchestral{
	background: url(../images/nav_sprite.gif) -135px -128px;
	width:135px;
	height:30px;
	float: left;
}
#nav li:hover a.orchestral{
	background: url(../images/nav_sprite.gif) 0px -128px;
	width:135px;
	height:30px;
	float: left;
}
#nav li a.history{
	background: url(../images/nav_sprite.gif) -135px -164px;
	width:135px;
	height:30px;
	float: left;
}

#nav li:hover a.history{
	background: url(../images/nav_sprite.gif) 0px -164px;
	width:135px;
	height:30px;
	float: left;
}
#nav li a.audio{
	background: url(../images/nav_sprite.gif) -135px -200px;
	width:135px;
	height:30px;
	float: left;
}

#nav li:hover a.audio{
	background: url(../images/nav_sprite.gif) 0px -200px;
	width:135px;
	height:30px;
	float: left;
}
#nav li a.contact{
	background: url(../images/nav_sprite.gif) -135px -235px;
	width:135px;
	height:30px;
	float: left;
}

#nav li:hover a.contact{
	background: url(../images/nav_sprite.gif) 0px -235px;
	width:135px;
	height:30px;
	float: left;
}
#nav li a.repertoire{
	background: url(../images/nav_sprite.gif) -135px -270px;
	width:135px;
	height:30px;
	float: left;
}

#nav li:hover a.repertoire{
	background: url(../images/nav_sprite.gif) 0px -270px;
	width:135px;
	height:30px;
	float: left;
}

#nav li a.testimonials{
	background: url(../images/nav_sprite.gif) -165px -305px;
	width:155px;
	height:30px;
	float: left;
}

#nav li:hover a.testimonials{
	background: url(../images/nav_sprite.gif) -4px -305px;
	width:155px;
	height:30px;
	float: left;
}

#footer{
clear: left;
width: 900px;
color: #black;
text-align: center;
padding: 4px 0;
background-color: EFD3E7;
border-radius: 15px;
margin: 525px auto; /*Center container on page*/
}

#footer a{
color: #FFFF80;
}

.slideshow {
    overflow: hidden;
    width: 768px;
    height: 960px;
    background-color: #000;
    margin: 10px;
}
.slideshow img {
    width: 768px;
    height: 960px;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}
